<div class="container">
	<div class="jumbotron">
		<h3 class="text-center"> Recipe of the Day </h3>
	</div>

	<% @recipes.each do |recipe| %>
		<a class="list-group-item" data-toggle="modal" data-target="#<%= recipe.name %>">
		  <strong><%= recipe.created_at.strftime("%A %B %e, %Y: ") %></strong>
		  <%= recipe.name %>
		</a>
		<div class="modal fade" id="<%= recipe.name %>" role="dialog">
  		  <div class="modal-dialog">
    	    <div class="modal-content">
	  	      <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title"><%= recipe.name %></h4>
	  		  </div>
	  		  <div class="modal-body">
			    <p><%= recipe.description %></p>
			    <%= render 'ingredient_table',
			        recipe_ingredients: recipe.recipe_ingredients
			    %>
	  		  </div>
	  		  <div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  		  </div>
			</div>   
  		  </div>
		</div>
	<% end %>
</div>



