<div class="container-fluid text-center">
  <%= image_tag('profile-pic.jpg', class: 'img-circle info-pic') %>
  <h3><%= t('views.bio.index.my_info') %></h3>
</div>

<div class="container-fluid text-center family shadow-black">
  <h3><%= t('views.bio.index.family') %></h3>
  <ul class="list-unstyled">
    <li> Mother: Lisa Hudgeons (High School Principal) </li>
    <li> Father: Charles Hudgeons (Athletic Director) </li>
    <li> Brother: Maison Hudgeons (Coach) </li>
  </ul>
</div>

<div class="container-fluid text-center growing-up shadow-black">
  <h3><%= t('views.bio.index.growing_up') %></h3>
  <p class="lead">
  	I grew up in Simms, TX. It is a small town about 30 miles west of Texarkana, TX in the Four States Area.
  	I went to the same school district my whole childhood, James Bowie School District, where my mom and dad both worked. From a small age, I enjoyed playing sports and carried that with me well into high school. I played football, basketball, baseball, track, golf, and cross country for a couple years. I also did very well in the classroom and that, paired with my extraciricular activities, helped me receive a full Air Force Reserve Officer Training Corps (ROTC) scholarship that I took to the University of Arkansas in Fayetteville, AR.
  </p>
</div>

<div class="container-fluid text-center arkansas shadow-black">
	<h3><%= t('views.bio.index.education') %></h3>
	<p class="lead">
	  I attended the University of Arkansas where I majored in Computer Science with a minor in Mathematics. I was also in Air Force ROTC and I commissioned as a 2nd Lieutenant on Dec 18, 2015. I graduated with above a 3.8 GPA.
	</p>
</div>

<div class="container-fluid text-center cerner shadow-white">
	<h3><%= t('views.bio.index.software_engineer') %></h3>
	<p class="lead">
	  I currently work at Cerner in Kansas City, MO where I am a software engineer. I just joined my team so I have not done much here yet.
	</p>
</div>

<div class="container-fluid text-center air-force shadow-white">
	<h3><%= t('views.bio.index.air_force') %></h3>
	<p class="lead">
	  I am waiting to go active duty in the Air Force which is why I am currently employed at Cerner.
	</p>
</div>
