<div class="container">
  <ul class="timeline">   
    <%= render 'timeline_item',
    	inverted: "",
    	badge_icon: "glyphicon glyphicon-user",
    	header_icon: "glyphicon glyphicon-time",
    	title: "Date of Birth",
    	header_content: "Born on 1 Feb, 1993",
    	body_content: "Born in Texarkana, TX to Lisa and Charles Hudgeons",
    	badge_color: "primary"
    %>

    <%= render 'timeline_item',
    	inverted: "timeline-inverted",
    	badge_icon: "fa fa-graduation-cap",
    	header_icon: "glyphicon glyphicon-time",
    	title: "Graduated From James Bowie High School",
    	header_content: "Distingushed Graduate, May 2011",
    	body_content: "Graduated with above a 3.9 GPA and a full Air Force ROTC scholarship",
    	badge_color: "success"
    %>

    <%= render 'timeline_item',
    	inverted: "",
    	badge_icon: "fa fa-graduation-cap",
    	header_icon: "glyphicon glyphicon-time",
    	title: "Graduated from the University of Arkansas",
    	header_content: "Graduate With Honors, May 2015",
    	body_content: "Graduated with above a 3.8 GPA in Computer Science and a minor in Mathematics",
    	badge_color: "success"
    %>

    <%= render 'timeline_item',
    	inverted: "timeline-inverted",
    	badge_icon: "fa fa-fighter-jet",
    	header_icon: "glyphicon glyphicon-time",
    	title: "Commissioned as a 2Lt in the United States Air Force",
    	header_content: "May 2015",
    	body_content: "Commissioned through the Air Force ROTC program at the University of Arkansas",
    	badge_color: "primary"
    %>

    <%= render 'timeline_item',
    	inverted: "",
    	badge_icon: "fa fa-desktop",
    	header_icon: "glyphicon glyphicon-time",
    	title: "Started work at Cerner",
    	header_content: "January 2016",
    	body_content: "Hired as a Software Engineer at Cerner",
    	badge_color: "success"
    %>
  </ul>
</div>
